.logo {
    height: 50px;
}

.box{
    padding: 0;
}

.navigation{
    font-size: 14px;
    
}

.links a {
    color: black;
    text-decoration:none; 
}

.links a:hover {
    color: rgb(23, 56, 70);
     
}

.searchBar {
    height: 30px;
    font-size: 15px;
}

.global{
    color: black;
    background: white;

  }
  
  .global h6{

    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* margin-left:190px; */
  }
  
  .global ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    /* margin-bottom: 12px;
    margin-left:190px; */
  }
  
  .global ul a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .global ul a:hover{
    opacity: 0.8;
    color: gray;
  }
  
  .global .social{
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    /* padding: 40px; */
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    /* margin-top: 0px; */
  }
  
  .global .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    color: black;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
  }
  
  .global .social a:hover{
    opacity: 0.9;
  }
  
  .global .copyright{
    text-align: center;
    /* padding-top: 24px; */
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
  }
  

.logoFooter{
    height: 80px;
}

.carousel .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

.productBorder {
  border-radius: 10%;
  box-shadow: 5px 10px #f0f0f0;
}





